{% extends 'base.html' %}

<!-- Head -->
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/front.css') }}>
    <title>Boutique</title>
{% endblock head %}

<!-- Body -->
{% block body %}

    <header>
        <nav class="box">
            <div id="logo">
                <img src={{ url_for('static', filename='img/Travel.png') }} alt="logo travel">
            </div>
            <ul>
                <li> <a href="Accueil">Accueil</a> </li>
                <li> <a href="Blog">Blog</a> </li>
                <li> <a href="Espace membre">Mon compte</a> </li>
                <li> <a href="Mon panier">Mon panier</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Derniers articles sur la boutique </h1>

        {% for article in articles %}

            <article>
                <img src={{ url_for('static', filename=article["IMG"]) }} alt={{ article["NAME"] }}>
                <h3>{{ article["NAME"] }} - {{ article["PRICE"] }} - {{ article["DESCRIPTION"] }}</h3>
                <button>Ajouter au panier</button>
            </article>

<!--            {{article["NAME"]}} {{article["PRICE"]}} {{article["DESCRIPTION"]}}     -->

        {% endfor %}
    </main>

    <footer>
        <div id="logo">
            <img src={{ url_for('static', filename='img/Travel.png') }} alt="logo travel">
        </div>
        <ul>
            <li><a href="Tour packages">Tour packages</a></li>
            <li><a href="Personalized offers">Personalized offers</a></li>
            <li><a href="Special deals"> Special deals</a></li>
            <li><a href="Summer holiday"> Summer holiday</a></li>
        </ul>
        <ul>
            <li><a href="About us">About us </a></li>
            <li><a href="FAQ"> FAQ</a></li>
            <li><a href="Terms and conditions"> Terms and conditions </a></li>
            <li><a href="contact">contact</a></li>
        </ul>
        <section>
            <p>
            <h3>Follow us on </h3>
            </p>
            <ul>
                <img src={{ url_for('static', filename='img/Instagram_icon.png') }} alt="Instagram">
                <li> <a href="#">Instagram</a> </li>
                <img src={{ url_for('static', filename='img/facebook.png') }} alt="Facebook">
                <li> <a href="#">Facebook</a> </li>
                <img src={{ url_for('static', filename='img/twitter.jpeg') }} alt="Twitter">
                <li> <a href="#">Twitter</a> </li>
            </ul>
        </section>
    </footer>

{% endblock body %}