<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Travel - {{ title if title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
</head>
<body>
    <nav class="box">
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo travel">
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/boutique">Boutique</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/space_member" class="btn">Espace membre</a></li>
            {% if session["is_admin"] == True%}
            <li><a href="/admin" class="btn">Administration</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo travel">
        </div>
        <ul class="link">
            <li>
                <p>Raccourcis :</p>
            </li>
            <li><a href="/forum">Blog</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/boutique">Boutique</a></li>
            <li><a href="/space_member">Mon Espace</a></li>
        </ul>
        <ul class="link">
            <li>
                <p>Liens utiles :</p>
            </li>
            <li><a href="#">En savoir plus</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">CGU / CGV </a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <section>
            <h3>Retrouvez nous sur </h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icon/instagram.png') }}" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icon/facebook.png') }}" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icon/twitter.png') }}" alt="Twitter">
                    </a>
                </li>
            </ul>
        </section>
    </footer>
</body>
</html>