{% extends('base.html') %}

{% block csslink %}
<link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
{% endblock %}
{% block content %}
<header>
    <section class="text">
        <h1>Participez à l'aventure de votre vie </h1>
        <h2>La plus grande course cycliste en environnement désertique du monde </h2>
        <h4>1 mois , 2000Km , 3 pays visités , Rejoignez nous dés maintenant !</h4>

        <a href="/blog" class="btn"> Partir à l'aventure</a>
    </section>
    <div class="container">
        <img src="{{ url_for('static', filename='img/background.svg') }}" alt="">
    </div>

</header>

<div>
    <h2>Derniers articles sur le blog </h2>
    <h4>Recommendés</h4>
</div>
{% if posts|length == 0 %}
<p>Pas de post pour le moment</p>
{% else %}
{% for post in posts %}
<main id="bmain">
    <article>
        <img src={{ post['img' ]}} alt={{ post['title'] }}>
        <h3>{{ post['date_creation'] }} - {{ post['title'] }}</h3>
        <a href="/blog/postblog/{{ post['id'] }}">Découvrir l'article</a>
    </article>
</main>
{% endfor %}
{% endif %}

{% endblock %}