{% extends('base.html')%}

{% block csslink %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<form action="/login" method="post">
    <div class="form-floating mb-3">
        {{ formulaire.mail() }}
        {{ formulaire.mail.label }}
    </div>
    <div class="form-floating mb-4">
        {{ formulaire.password() }}
        {{ formulaire.password.label }}
    </div>
    {{ formulaire.submit() }}
    {{ formulaire.csrf_token }}
</form>
{% endblock %}