{% extends('base.html')%}

{% block csslink %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<header>
    <header>
      </section>
      <div class="container">
        <img src="{{ url_for('static', filename='img/background.svg') }}" alt="">
      </div>
    </header>
</header>
<main class="subscription">
    <form action="/login" method="post">
        <h3>Connexion</h3>
        <div class="form-floating mb-3">
            {{ formulaire.mail.label }}
            {{ formulaire.mail() }}
        </div>
        <div class="form-floating mb-4">
            {{ formulaire.password.label }}
            {{ formulaire.password() }}
        </div>
        {{ formulaire.submit() }}
        {{ formulaire.csrf_token }}
    </form>
</main>
{% endblock %}