{% extends('base.html')%}

{% block content %}
<header>
    <div class="container">
        <img src={{ url_for('static', filename='img/background.svg') }} alt="">
    </div>
    <section class="text">
        <h1>{{ infos['title'] }}</h1>
        <h3>{{ infos['date_creation'] }} - {{ infos['author'] }}</h3>
    </section>
</header>

<main>
    <img src={{ infos["img"] }} alt="{{ infos['title'] }}">
    {% filter markdown %}
    {{ infos['content'] }}
    {% endfilter %}
    <p>Publié le {{ infos['date_creation'] }} par {{ infos['author'] }}</p>
    <ul class="liste-commentaire">
        <li><h2>Commentaires :</h2></li>
        {% for commentary in infos["commentary"] %}
        <li class="commentaire">
            <p>{{ commentary["auteur"] }} - {{ commentary["date"] }}</p>
            <p>{{ commentary["commentaire"] }}</p>
        </li>
        {% endfor%}
        <li>
            {% if session['logged'] == True %}
            <form action="/blog/postblog/{{ infos['id'] }}" method="POST">
                <label>Ajouter un commentaire</label>
                <input type="text" name="new_commentary">
                <button>Envoyer</button>
            </form>
            {% else %}
            
            {% endif %}
        </li>
    </ul>
</main>
{% endblock %}